.container{
    flex-grow: 1;
}
.testContainer{
    height: 60%;
    cursor: pointer;
}
.testContainer > *{
    align-content: center;
    height: 100%;
}
.testContainer h4{
    font-size: 5rem;
    margin: 0;
}
.testContainer p{
    font-size: 2rem;
}
.idle, .clicked{
    background-color: #047fd7;
}
.waiting{
    background-color: rgb(253, 99, 99);
}
.ready{
    background-color: rgb(86, 215, 86);
}
.early{
    background-color: rgb(251, 150, 87);
}
.statistic{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 0.5fr 1fr;
    margin: 0 10em;
    gap: 10px;
}
.statistic p{
    text-align: left;
    padding: 10px;
    margin-left: 12px;
}
.statistic p:first-child{
    align-content: center;
}
.stat{
    margin-top: -20px;
    font-size: 24px
}
.average{
    background-color: rgb(47, 47, 47);
    border-radius: 15px;
    grid-row: 2/3;
    grid-column: 1;
}
.best{
    background-color: rgb(47, 47, 47);
    border-radius: 15px;
    grid-column: 2 / 3;
    grid-row: 2/3;
}
.attemps{
    background-color: rgb(47, 47, 47);
    border-radius: 15px;
    grid-row: 2/3;
}
.backBtn{
    position: absolute;
    top: 20px;
    left: 2%;
    cursor: auto;
    background-color: #318ed0;
    padding: .5em .5em .25em;
    border-radius: 10px;
}